<div>
  <h2><span class"web_page_font">Name: </span><%= current_user.name %></h2>
  <h2><span class"web_page_font">Second Name: </span> <%= current_user.surname %></h2>
  <h2><span class"web_page_font">Age: </span><%= current_user.age %></h2>
  <h2><span class"web_page_font"> Nationality: </span><%= current_user.nationality %></h2>
  <h2><span class"web_page_font"> Email: </span><%= current_user.email %></h2>
  <h2><span class"web_page_font"> Username: </span> <%= current_user.username %></h2>
</div>
