<div>
  <h2><span class"web_page_font">Name: </span><%= @user.name %></h2>
  <h2><span class"web_page_font">Second Name: </span> <%= @user.surname %></h2>
  <h2><span class"web_page_font">Age: </span><%= @user.age %></h2>
  <h2><span class"web_page_font"> Nationality: </span><%= @user.nationality %></h2>
  <h2><span class"web_page_font"> Email: </span><%= @user.email %></h2>
  <h2><span class"web_page_font"> Username: </span> <%= @user.username %></h2>
</div>

<% @comments.each do |comment| %>
  <h3><%= current_user.username %> says: </h3>
  <p><%= comment.body %> with a score of: </p>
<% end %>
<form action="/comments" method="post">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <textarea name="body" id="" cols="30" rows="10"></textarea>
  <label for="">rating</label>
  <select name="score" id="">
    <% @ratings.each do |rating| %>
    <option value="<%= rating.id %>"><%= rating.score %> </option>
    <% end %> </select>

    <button>post comment</button>
</form>
