<div>
  <h2><span class"web_page_font">Name: </span><%= @user.name %></h2>
  <h2><span class"web_page_font">Second Name: </span> <%= @user.surname %></h2>
  <h2><span class"web_page_font">Age: </span><%= @user.age %></h2>
  <h2><span class"web_page_font"> Nationality: </span><%= @user.nationality %></h2>
  <h2><span class"web_page_font"> Email: </span><%= @user.email %></h2>
  <h2><span class"web_page_font"> Username: </span> <%= @user.username %></h2>
</div>
